<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href={{ url_for("static", filename="img/favicon.png") }} type="image/png">
        
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- load p5.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/addons/p5.dom.min.js"></script>
        <!-- load ml5.js -->
        <script src="https://unpkg.com/ml5@0.2.3/dist/ml5.min.js" type="text/javascript"></script>
        <script src={{ url_for("static", filename="js/push.js") }}></script>
        <script src={{ url_for("static", filename="js/serviceWorker.js") }}></script>
    <title>Dashboard</title>

    <style>
            .container1 {
                       display: flex;
                   }

                   .inner {
                       flex: 1;
                       border: 2px solid white;
                        width: 50%;
                   }

                   .inner:first-child {
                       margin-right: 10px;
                   }
            
    .button1 {
        margin-left: 267px;
        margin-top: 37px;
      text-align: center;
      display: inline-block;
    }
    
    
    .buttonx {
        text-align: center;
    }
            
       .frame {
   fill: none;
   stroke: #000;
   width: 20%;
   float: left;
 }
    
.axis text {
  font: 10px sans-serif;
}

    .axis line,
    .axis circle {
      fill: none;
      width: 50%;
      float: left;
      stroke: #777;
      stroke-dasharray: 1,4;
    }

.axis :last-of-type circle {
  width: 50%;
  stroke: #333;
  stroke-dasharray: none;
}
        

.line {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}
    

    @media screen and (max-width: 1000px) {
      .container1 {
        flex-direction: column;
      }
      .buttonx{
          text-align: center;
      }
    }

    </style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={{ url_for("static", filename="css/bootstrap.css") }}>
    <link rel="stylesheet" href={{ url_for("static", filename="css/themify-icons.css") }}>

    <!-- main css -->
    <link rel="stylesheet" href={{ url_for("static", filename="css/style.css") }}>
    <link rel="stylesheet" href={{ url_for("static", filename="css/responsive.css") }}>
    <!-- <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-analytics.js"></script>
    <script src="js/graph.js"></script> -->
    <script src = "https://d3js.org/d3.v4.min.js"></script>
    
</head>
<body>

    <!--================Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <h1 style="color:whitesmoke;font-size: 40px" ><a href ="/index" style="color:whitesmoke">Posture Correction System</a></h1>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://github.com/PostureCorrectionSystem/HCL_Hackathon">Github</a></li>                            
                            <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Menu Area =================-->
    
       <section class="hero-banner d-flex align-items-center">
        <div class="container text-center">
            <h2>Your Dashboard<br></h2>
  
    </section>
    
<!-- Graph goes here -->
<div class="container1">
    
<div class ="inner">
    
    <button type="button" class = "button1" onclick="showGraph()" disabled>ON</button>
    <button type="button" class = "button1" onclick="stopGraphDisplay()"disabled>OFF</button>
    <div id="svgcontainer"> </div>
</div>
<!-- Video camera feed and buttons -->
  <div class="inner">
    <h1><center>PoseNet demo with Ml5.js</center></h1>
    
    <canvas style="text-align: center;" id="canvas" width="640" height="480"></canvas>
    <video id="video" width="640" height="480" autoplay style="display: none"></video>
    <div class="buttonx">
    <button type="button" onclick = "callibrate()" class="button2" disabled>callibrate!</button>
    <button type="button" onclick = "run()" class="button3"disabled>Run Program</button>
    <button type="button" onclick = "Stop()"class="button3" disabled>Stop!</button></div>
  </div>
</div>

<footer class="footer-area">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                    <h4>About Us</h4>
                    <p>We provide an efficient<br>yet easy to use system<br>that improves your posture<br/>over time</p>
                </div>

                <div class="col-lg-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                    <h4>Contact Info</h4>
                    <div class="footer-address">
                        <p>Address : Pes University
                            <br>Bangalore, Karnataka</p>
                        <address>
                               E-Mail: <a href="mailto:work.krishna2001@gmail.com">work.krishna2001@gmail.com</a><br>
                            </address>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                    <h4>Important Links</h4>
                    <ul>
                        <li><a href="/index">Home</a></li>
                        <li><a href="https://github.com/PostureCorrectionSystem/HCL_Hackathon">Github</a></li>                                                    
                        <li><a href="/contact">Contact Us</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-8 mb-4 mb-xl-0 single-footer-widget">
                    <h4>Any Queries?</h4>
                    <p>Reach out to us by either contacting us or by mail or by phone</p>
                </div>

            </div>
        </div>
        <br/> <br/><br/>
        
    </div>
</footer>

    
</body>
<script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-analytics.js"></script>
<script>
 /**
  * 
  *Initialising Firebase 
  * 
  */

  var firebaseConfig = {
    apiKey: "AIzaSyAeR2pOelBp7gP2yjbGigYechQTdMSAfeM",
    authDomain: "hcl-hack.firebaseapp.com",
    databaseURL: "https://hcl-hack.firebaseio.com",
    projectId: "hcl-hack",
    storageBucket: "hcl-hack.appspot.com",
    messagingSenderId: "296548261590",
    appId: "1:296548261590:web:b8e2cc0af33216688ff377",
    measurementId: "G-TZHNVFQ4KR"
  };
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();

  var interval; // variable to hold the interval object

  /*
    wrapper function to update graph at regular intervals(1s)
  */
  function showGraph(){
      createGraph()
      interval = setInterval(displayGraph,1000)
  }

/*
 Main function to update graph.
 Removes old graph and updates with a new graph after obtaining value from firebase
*/
  function displayGraph(){
    var elem = document.getElementsByTagName('svg')[0];
      elem.parentNode.removeChild(elem);
      createGraph() 
  }

  /*
 Function to clear the interval that updates the graph
*/
    function stopGraphDisplay(){
      
      clearInterval(interval)
      var elem = document.getElementsByTagName('svg')[0];
      elem.parentNode.removeChild(elem);
    }
 
</script>
<script src={{ url_for("static", filename="js/posenet.js") }}></script>
<script src={{ url_for("static", filename="js/plot.js") }}></script>
</html>
